.form-local
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;


    .form-app
{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 30px 60px 0 gray;
    text-align: center;
    width: 45%;
    height: 400px;
    transition: all 0.5s ease-in-out;
}
}